.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-top: 30px;
}
.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-top: 5px;
}
.rightSide {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.cartImage {
  height: 25px;
  width: 25px;
}
.avatarImage {
  height: 50px;
  width: 50px;
}
@media (min-width: 375px) {
  .menuIcon {
    display: none;
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 320px;
    height: 150px;
    background-color: white;
    padding: 20px;
  }

  .leftSide,
  .rightSide {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    width: 100;
    height: 35px;
  }

  .list {
    display: none;
  }

  .cartImage {
    margin-left: auto;
    margin-right: auto;
  }
  .avatarImage {
    display: block;
  }
  .menuIcon {
    display: block;
    width: 50px;
    height: 30px;
  }
  .menuIconPhoto {
    height: 40px;
    width: auto;
  }
}
